* {
    box-sizing: border-box;
}

html {
    font-family: Montserrat-regular;
    color: var(--clr-font);
}

body {
    margin: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 1.25rem;
    font-weight: normal;
    font-family: sans-serif;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

img {
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}

