.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.width-full {
    width: 100%;
}
