.main-header {
    background-color: var(--clr0);
    color: var(--clr-basic);
    margin-bottom: 0.875rem;
}

.main-header a {
    font-size: 1.25rem;
    text-decoration: none;
    height: 70px;
    display: inline-block;
    color: var(--clr-basic);
    text-align: center;
    display: flex;
    align-items: center;
    padding-inline-start: 0.75em;

    transition: color .6s;
}

.main-header a:hover {
    color: var(--clr1);
}

.main-header a:not(.about):after {
    padding-inline-start: 0.75em;
    content: "|";
}

.logo {
    font-family: Eurofurence;
    font-size: 2rem;
}

@media (min-width: 550px) {
    .main-header {
        margin-bottom: 0;
    }
}