.main-header {
    background-color: var(--clr0);
    color: var(--clr-basic);
}

.main-header a {
    text-decoration: none;
    height: 70px;
    display: inline-block;
    color: var(--clr-basic);
    text-align: center;
    display: flex;
    align-items: center;
}

.main-header a:hover {
    background-color: var(--clr3);
}