#meme-canvas {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
}

.meme-editor {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--clr-basic);
}

.canvas-container {
    flex-basis: 48%;
}

.control-box {
    height: 300px;
    flex-basis: 48%;
    flex-direction: column;
}

.control-box input {
    font-size: 1.25rem;
    height: 3em;
    border-radius: 0.6em;
    border: none;
    text-align: left;
    margin-bottom: .5em;
    padding-left: 1em;
}

.edit-container {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(5, 3.75rem);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "increase   decrease    left    center  right"
        "font       font        font    stroke  color";
    gap: 1em;
}

.font {
    grid-area: font;
}

.edit-container input {
    border: none;
    height: 3.75rem;
    width: 3.75rem;
    background-color: #ffffff;
    border-radius: 0.75rem;
    font-size: 1.875rem;
}