.search-area {
    flex-direction: column;
}

.search-area input {
    font-size: 1.25rem;
    border-radius: 0.6em;
    padding: .5em;
    border: none;
    text-align: left;
}

.input-container {
    border-bottom: 2px solid var(--clr-font);
    margin-bottom: 1.875em;
}

.search-area button {
    font-size: 1.25rem;
}

@media (min-width: 550px) {
    .search-area {
        padding-top: 2em;
        padding-bottom: 2em;
        flex-direction: row;
    }
}